.intro {
  background: #FFB800;

  &__inner {
    position: relative;
    height: rem(620px);
    padding-top: rem(130px);

    @media (max-width: $tab) {
      padding-top: rem(30px);
      height: rem(450px);
    }

    @media (max-width: $mobile) {
      height: auto;
      padding-bottom: rem(15px);
    }

    &:before {
      background: url("/assets/img/intro.png");
      background-size: 100%;
      width: rem(498px);
      height: rem(442px);
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__title {
    position: relative;
    font-weight: 700;
    font-size: rem(88px);
    line-height: 1;
    color: #FFFFFF;
    text-shadow: 0 rem(14px) rem(15px) rgba(255, 174, 0, 0.01), 0 rem(27px) rem(82px) rgba(255, 174, 0, 0.28);
  }

  &__text {
    position: relative;
    font-size: rem(22px);
    line-height: 1.2;
    color: #504F4F;
    margin-top: rem(15px);
    margin-bottom: rem(32px);
  }

  &__search {
    position: relative;
    background: #FFFFFF;
    border-radius: rem(16px);
    box-shadow: 0 rem(5px) rem(10px) rgba(255, 174, 0, 0.26), 0 rem(20px) rem(40px) rgba(255, 174, 0, 0.29);
    padding: rem(24px);
    width: rem(856px);

    @media (max-width: $tab) {
      width: rem(650px);
    }

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__search-tab {
    display: inline-block;
    margin-right: rem(3px);
    padding: rem(10px) rem(24px);
    font-weight: 700;
    font-size: rem(18px);
    line-height: 1;
    color: #757575;
    border-radius: rem(8px);

    &.active {
      color: #F17228;
      background: rgba(241, 114, 40, 0.1);

      .icon {
        fill: #F17228;
      }
    }

    .icon1 {
      width: rem(24px);
    }

    .icon2 {
      width: rem(16px);
    }

    .icon {
      margin-right: rem(7px);
      vertical-align: middle;
      fill: #757575;
    }

    span {
      vertical-align: middle;
    }
  }

  &__address {
    display: flex;
    justify-content: space-between;
    margin-top: rem(48px);
    position: relative;
    align-items: center;

    @media (max-width: $mobile) {
      margin-top: rem(30px);
      display: block;
    }
  }

  &__input-icon {
    width: rem(18px);
    position: absolute;
    top: rem(15px);
    left: rem(16px);
  }

  &__input {
    font-family: $fontOpen;
    font-size: rem(18px);
    line-height: rem(50px);
    color: inherit;
    background: #F5F5F5;
    border-radius: rem(8px);
    border: none;
    width: rem(593px);
    height: rem(50px);
    padding: 0 rem(46px);

    @media (max-width: $tab) {
      width: rem(380px);
    }

    @media (max-width: $mobile) {
      width: 100%;
      margin-bottom: rem(10px);
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #9E9E9E;
    }
  }

  &__button {
    border-radius: rem(8px);
    background: #FF7A7A;
    width: rem(199px);
    height: rem(60px);
    line-height: rem(60px);
    border: none;
    font-weight: 700;
    font-size: rem(18px);
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__button-icon {
    width: rem(14px);
    margin-right: rem(8px);
  }



}