<section class="app">
  <div class="app__inner g-inner">
    <div class="app__install">
      <h2 class="app__title">Install the app</h2>
      <p class="app__text">
        It's never been easier to order food. Look for the finest discounts
        and you'll be lost in a world of delectable food.
      </p>
      <a href="#" class="app__button">
        <img src="{{root}}assets/img/app-btn-1.svg" alt="">
      </a>
      <a href="#" class="app__button">
        <img src="{{root}}assets/img/app-btn-2.svg" alt="">
      </a>
    </div>
  </div>
</section>
