<section class="delivery">
  <div class="delivery__blocks">
    <div class="delivery__block">
      <img src="{{root}}assets/img/delivery-1.png" alt="" class="delivery__img">
      Daily
      Discounts
    </div>
    <div class="delivery__block">
      <img src="{{root}}assets/img/delivery-2.png" alt="" class="delivery__img">
      Live
      Tracing
    </div>
    <div class="delivery__block">
      <img src="{{root}}assets/img/delivery-3.png" alt="" class="delivery__img">
      Quick
      Delivery
    </div>
  </div>
</section>