<section class="discounts">
  <div class="discounts__inner g-inner">
    <a href="#" class="discounts__card">
      <div class="discounts__card-wrap">
        <img src="{{root}}assets/img/discount-card1.png" alt="" class="discounts__img">
        <div class="discounts__block">
          <span class="discounts__number">15</span>
          <span class="discounts__text">
           <span class="discounts__percent">%</span>
           <span class="discounts__off">Off</span>
          </span>
        </div>
      </div>
      <div class="discounts__author">Greys Vage</div>
      <span class="discounts__days">6 Days Remaining</span>
    </a>
    <a href="#" class="discounts__card">
      <div class="discounts__card-wrap">
        <img src="{{root}}assets/img/discount-card2.png" alt="" class="discounts__img">
        <div class="discounts__block">
          <span class="discounts__number">10</span>
          <span class="discounts__text">
           <span class="discounts__percent">%</span>
           <span class="discounts__off">Off</span>
          </span>
        </div>
      </div>
      <div class="discounts__author">Greys Vage</div>
      <span class="discounts__days">6 Days Remaining</span>
    </a>
    <a href="#" class="discounts__card">
      <div class="discounts__card-wrap">
        <img src="{{root}}assets/img/discount-card3.png" alt="" class="discounts__img">
        <div class="discounts__block">
          <span class="discounts__number">25</span>
          <span class="discounts__text">
           <span class="discounts__percent">%</span>
           <span class="discounts__off">Off</span>
          </span>
        </div>
      </div>
      <div class="discounts__author">Greys Vage</div>
      <span class="discounts__days">7 Days Remaining</span>
    </a>
    <a href="#" class="discounts__card">
      <div class="discounts__card-wrap">
        <img src="{{root}}assets/img/discount-card4.png" alt="" class="discounts__img">
        <div class="discounts__block">
          <span class="discounts__number">20</span>
          <span class="discounts__text">
           <span class="discounts__percent">%</span>
           <span class="discounts__off">Off</span>
          </span>
        </div>
      </div>
      <div class="discounts__author">Greys Vage</div>
      <span class="discounts__days">8 Days Remaining</span>
    </a>
  </div>
</section>