<section class="work">
  <div class="work__inner g-inner">
    <h2 class="work__title">How does it work</h2>
    <div class="work__cards">
      <div class="work__card">
        <img src="{{root}}assets/img/work-1.png" alt="" class="work__img">
        <div class="work__name">Select location</div>
        <div class="work__text">
          Choose the location where your food will be delivered.
        </div>
      </div>
      <div class="work__card">
        <img src="{{root}}assets/img/work-2.png" alt="" class="work__img">
        <div class="work__name">Choose order</div>
        <div class="work__text">
          Check over hundreds of menus to pick your favorite food
        </div>
      </div>
      <div class="work__card">
        <img src="{{root}}assets/img/work-3.png" alt="" class="work__img">
        <div class="work__name">Pay advanced</div>
        <div class="work__text">
          It's quick, safe, and simple. Select several methods of payment
        </div>
      </div>
      <div class="work__card">
        <img src="{{root}}assets/img/work-4.png" alt="" class="work__img">
        <div class="work__name">Enjoy meals</div>
        <div class="work__text">
          Food is made and delivered directly to your home.
        </div>
      </div>
    </div>
  </div>
</section>
